.btn {
  border: none;
  background-color: coral;
  font-size: 1rem;
  padding: 0.5em 1em;
  color: white;

  &:hover {
    background-color: lighten(coral, 15%)
  }

  &.btn--arrow::before {
    content: '\f138';
    font-family: 'FontAwesome';
    padding-right: 10px;
  }

}