@use 'reset';
@use 'common';

body {
  font-family: 'Poppins', sans-serif;
}

// latest news

.late-news {
  background-color: #333;
  color: #fff;
  padding-top: 5%;
  padding-bottom: 5%;

  .container>.btn {
    margin-bottom: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .news__title {
    text-align: center;
    font-size: 2rem;
  }

  .news__subtitle {
    font-weight: 300;
    text-align: center;
  }
}